@page "/foo4"

<h3>RenderFragment 模板教学</h3>

<Foo4Component>
    <HeaderTemplate>
        <div class="bg-danger">@context.Summary</div>
    </HeaderTemplate>
    <ChildContent>
        <div>我是页面给的参数</div>
    </ChildContent>
    <FooterTemplate>Footer</FooterTemplate>
</Foo4Component>

<br/>

<Foo5Component />

<br />

<Foo6Component>
    <Template>
        <div>Header</div>
        <div>@context</div>
        <div>Footer</div>
    </Template>
    <ChildContent>
        <div>Body</div>
    </ChildContent>
</Foo6Component>

@code {

}
